body {
    background-image: url('img.png'); /* Replace with the path to your image file */
    background-size: cover; /* Adjust according to your preference */
    background-position: center; /* Adjust according to your preference */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}